*.class
*.*~

# Package Files #
*.jar
*.war
*.ear
/target/

# Netbeans IDE #
nb-configuration.xml
/api/target/
/business/target/
/web/target/
/mlib-api/target/
/mlib-ear/target/
/mlib-ejb/target/
/mlib-web/target/