<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app 
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>Euphony, the music library</display-name>
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    
    <listener>
        <description>Spring activation at Application's start</description>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>  
        <description>Spring configuration file</description>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:applicationContext.xml
            /WEB-INF/applicationContext-security.xml  
        </param-value>
    </context-param>
    
    <filter>
      <filter-name>springSecurityFilterChain</filter-name>
      <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
      <filter-name>springSecurityFilterChain</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- JSTL -->
    <context-param>
        <description>JSTL tags will use localized strings from the same source as Stripes</description>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>StripesResources</param-value>
    </context-param>
    <filter>
        <filter-name>DynamicMappingFilter</filter-name>
        <display-name>Stripes Dynamic Mapping Filter</display-name>
        <filter-class>net.sourceforge.stripes.controller.DynamicMappingFilter</filter-class>
    </filter>
    <!-- Stripes -->
    <filter>
        <description>Stripes main configuration</description>
        <filter-name>StripesFilter</filter-name>
        <display-name>Stripes Filter</display-name>
        <filter-class>net.sourceforge.stripes.controller.StripesFilter</filter-class>
        <init-param>
            <description>Stripes ActionBeans location</description>
            <param-name>ActionResolver.Packages</param-name>
            <param-value>com.musiclibrary.euphonyweb</param-value>
        </init-param>
        <init-param>
            <description>Supported localizations and encodings</description>
            <param-name>LocalePicker.Locales</param-name>
            <param-value>sk:utf-8,en:utf-8</param-value>
        </init-param>
        <init-param>
            <description>Stripes injects Spring beans</description>
            <param-name>Interceptor.Classes</param-name>
            <param-value>
                net.sourceforge.stripes.integration.spring.SpringInterceptor
                com.musiclibrary.euphonyweb.SecurityInterceptor
            </param-value>  
        </init-param>
        <init-param>
            <param-name>ExceptionHandler.Class</param-name>
            <param-value>com.musiclibrary.euphonyweb.DatabaseExceptionHandler</param-value>
        </init-param>
        <init-param>
            <param-name>LocalePicker.Class</param-name>
            <param-value>com.musiclibrary.euphonyweb.LocalePicker</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>StripesFilter</filter-name>
        <dispatcher>REQUEST</dispatcher>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DynamicMappingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <!-- Spring -->
    <servlet>
        <display-name>EuphonyServlet</display-name>
        <servlet-name>EuphonyServlet</servlet-name>
        <servlet-class>
            org.springframework.web.context.support.HttpRequestHandlerServlet
        </servlet-class>
    </servlet>
</web-app>
