<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">
    
    <http auto-config="true"> 
	 <intercept-url pattern="/welcome" access="ROLE_ADMIN,ROLE_USER"/> 
         
         <intercept-url pattern="/employee/*" access="ROLE_ADMIN"/>  
         <intercept-url pattern="/car/*" access="ROLE_ADMIN"/> 
         <intercept-url pattern="/journey/*" access="ROLE_ADMIN"/> 
         <intercept-url pattern="/service/*" access="ROLE_ADMIN"/> 
         
         <intercept-url pattern="/cars" access="ROLE_USER"/> 
         <intercept-url pattern="/reserveFrom" access="ROLE_USER"/>
         <intercept-url pattern="/employeeView" access="ROLE_USER"/>
         <intercept-url pattern="/journeys/*" access="ROLE_USER"/>
          
              <form-login login-page="/login" default-target-url="/welcome"
			authentication-failure-url="/loginfailed" />
		<logout logout-success-url="/logout" />
	</http>
 <authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="admin" password="admin" authorities="ROLE_ADMIN" />
                                <user name="user" password="user" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider> 
            
	</authentication-manager> 
         
         <!-- <global-method-security secured-annotations="enabled" />-->
   <!--  <authentication-manager>
        <authentication-provider>
            <user-service>
                <security:user name="admin" password="admin" authorities="ROLE_ADMIN" />
                <security:user name="user" password="user" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
        <authentication-provider user-service-ref="userDetailsService">
        </authentication-provider>
    </authentication-manager>  
        <beans:bean id="daoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
            <beans:property name="userDetailsService" ref="userDetailService"></beans:property>    
        </beans:bean>
        <beans:bean id="authenticationManager" class="org.springframework.security.authentication.ProviderManager">
            <beans:property name="providers">
            <beans:list>
                <beans:ref local="daoAuthenticationProvider"/>    
            </beans:list>
            </beans:property> 
        </beans:bean>
        <authentication-manager>
            <authentication-provider user-service-ref="userDetailsService">
                <password-encoder hash="md5"></password-encoder>
            </authentication-provider>
            </authentication-manager>      
            -->  
                      
</beans:beans>