<?xml version="1.0" encoding="UTF-8" ?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">
          
  <mapping wildcard="false"> 
    <class-a>com.muni.fi.pa165.dto.MonsterAreaDto</class-a>
    <class-b>com.muni.fi.pa165.entities.MonsterArea</class-b>   
    <field>  
      <a>monster</a>
      <b>monster</b>
      <a-deep-index-hint>com.muni.fi.pa165.dto.MonsterDto</a-deep-index-hint>
      <b-deep-index-hint>com.muni.fi.pa165.entities.Monster</b-deep-index-hint>
     
    </field>
    <field>
      <a>area</a>
      <b>area</b>
      <a-deep-index-hint>com.muni.fi.pa165.dto.AreaDto</a-deep-index-hint>
      <b-deep-index-hint>com.muni.fi.pa165.entities.Area</b-deep-index-hint>
     
    </field> 
    <field>
      <a>monsterQuantity</a>
      <b>monsterquantity</b>
    </field>  
  </mapping> 
</mappings>