<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">
          
  <mapping wildcard="false"> 
    <class-a>com.muni.fi.pa165.dto.MonsterDto</class-a>
    <class-b>com.muni.fi.pa165.entities.Monster</class-b>   
    <field>  
      <a>id</a>
      <b>id</b>
    </field>
    <field>
      <a>monsterClass</a>
      <b>monsterClass</b>
    </field> 
    <field>
      <a>name</a>
      <b>name</b>
    </field>
    <field>
      <a>description</a>
      <b>description</b>
    </field>   
    <field>
      <a>height</a>
      <b>height</b>
    </field> 
    <field>
      <a>weight</a>
      <b>weight</b>
    </field> 
      <field>
      <a>height</a>
      <b>height</b>
    </field> 
    <field>
      <a>agility</a>
      <b>agility</b>
    </field> 
    <field>
      <a>strength</a>
      <b>strength</b>
    </field> 
    <field>
      <a>stamina</a>
      <b>stamina</b>
    </field> 
    <field>
      <a>dangerLevel</a>
      <b>dangerLevel</b>
    </field> 
    <field>
      <a>imagePath</a>
      <b>imagePath</b>
    </field> 
  </mapping> 
</mappings>
